.navbar-pugsqueezers {
  background-color: lighten($color-bg-secondary, 15%);
}

.vertical-center {
  align-items: center;
  display: flex;
}

.panel-body {
  background-size: cover;
}

.brand-img {
  height: 36px;
  margin-right: 10px;
  margin-top: -6px;
  width: 36px;
}

.content-area {
  background-color: $color-bg-primary;
  position: relative;
  top: 45vw;
}
