.navbar-pugsqueezers {
  background-color: lighten($color-bg-tertiary, 57%);
}

.vertical-center {
  align-items: center;
  display: flex;
}

.panel-body {
  background-size: cover;
}

.brand-img {
  height: 36px;
  margin-right: 10px;
  margin-top: -6px;
  width: 36px;
}

.content-area {
  background-color: $color-bg-primary;
  box-shadow: inset 0 -1px 0 $color-shadow-highlight, 0 -1px 5px $color-shadow-lowlight;
  padding-top: 20px;
  position: relative;
  top: 45vw;
}
