<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-md-offset-2">Emma</div>
      <div class="col-md-2">Facebook</div>
      <div class="col-md-2 col-md-offset-1">Twitter</div>
      <div class="col-md-2 col-md-offset-1">Instagram</div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-2">Chris</div>
      <div class="col-md-2">Facebook</div>
      <div class="col-md-2 col-md-offset-1">Twitter</div>
      <div class="col-md-2 col-md-offset-1">Instagram</div>
    </div>
  </div>
</footer>
<div id="copyright" class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="center-block">&copy; 2016 Emma Wilcox & Chris Roe (The Pug Squeezers)</div>
    </div>
  </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{libs.jquery.version}}/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/{{libs.bootstrap.version}}/js/bootstrap.min.js" integrity="{{libs.bootstrap.checksums.js}}" crossorigin="anonymous"></script>
