<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-pugsqueezers">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <div>
          <img class="brand-img" alt="Brand" src="/images/brand.png">
          <div class="pull-right">The Pug Squeezers</div>
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Venue <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="http://www.billycojunction.com" target="_blank">General Info</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="http://www.billycojunction.com/maps.htm" target="_blank">Official Map/Directions</a></li>
          <li><a href="https://www.google.ca/maps/dir/Red+Deer,+AB/Billyco+Junction+Ltd.,+Lacombe,+AB+T0C+0Y0/@52.3450734,-113.8496709,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x5374542947119299:0x500a390441644b0!2m2!1d-113.8112386!2d52.2681118!1m5!1m1!1s0x537504101cc8317b:0x20d690afa75feb6f!2m2!1d-113.603568!2d52.423595" target="_blank">Google Map</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hotels <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/blog/2017-02-14/hotel-information/">General Info</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="https://www.wyndhamhotels.com/microtel/blackfalds-alberta/microtel-inn-and-suites-by-wyndham-blackfaldsred-deer/overview" target="_blank">Microtel - Blackfalds</a></li>
          <li><a href="https://www.wyndhamhotels.com/microtel/red-deer-alberta/microtel-inn-and-suites-by-wyndham-red-deer/overview" target="_blank">Microtel - Red Deer</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="https://www.ihg.com/holidayinnexpress/hotels/us/en/red-deer/yqfes/hoteldetail" target="_blank">Holiday Inn Express - Red Deer North</a></li>
          <li><a href="https://www.ihg.com/holidayinn/hotels/us/en/red-deer/yrdws/hoteldetail" target="_blank">Holiday Inn - Gasoline Alley</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="https://www.radisson.com/red-deer-hotel-ab-t4p1a2/canrdal" target="_blank">Radisson - Red Deer</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="http://hamptoninn3.hilton.com/en/hotels/alberta/hampton-inn-and-suites-by-hilton-red-deer-YQFRDHX/index.html" target="_blank">Hampton Inn - Gasoline Alley</a></li>
        </ul>
      </li>

<!--      <li><a href="http://www.theknot.com/us/chremma">RSVP</a></li>
-->
<!--        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Previous Posts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#collections.posts}}
              <li><a href="{{path}}">{{publishDate}}</a></li>
            {{/collections.posts}}
          </ul>
        </li>
-->
<!--
        <li><a href="thanks.html">Special Thanks</a></li>
-->
      </ul>
    </div>
  </div>
</nav>
