<div class="container">
  <div class="row">
    {{#collections.posts}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="post-card">
        <a href="{{path}}">
        <div class="title">
          {{title}}
        </div>
        <div class="date">
          {{formatDate publishDate "dddd, MMMM Do, YYYY"}}
        </div>
        <!--  style="background-image: url('/images/{{pic}}');"-->
        <div class="content">
          {{#if pic}}
          <div class="image">
            <img src="/images/{{pic}}" class="img-responsive img-rounded center-block"/>
          </div>
          {{/if}}
          <div class="excerpt">
            {{{excerpt}}}
          </div>
        </div>
        <div class="author">
          {{author}}
        </div>
      </a>
      </div>
    </div>
    {{/collections.posts}}
  </div>
</div>
