footer {
  background-color: $color-bg-secondary;
  box-shadow: inset 0 1px 0 $color-shadow-lowlight, 0 1px 0 $color-shadow-highlight;
  padding: 18px;
}

.social-icon {
  font-size: 32px;
}

.copyright {
  text-align: center;
}
