<div class="container-fluid header">
    <img class="img-responsive" src="images/us.jpg" alt="The Happy Couple" />
    <div class="wedding-title">Emma &amp; Chris</div>
    <p>Engaged, March 24, 2016</p>
</div>
