$color-bg-primary: #fff;
$color-bg-secondary: #98def5;
$color-bg-tertiary: #bf0000;
$color-primary: #000;
$color-secondary: #555;
$color-tertiary: #aaa;

$color-shadow-lowlight: rgba(0, 0, 0, .075);
$color-shadow-highlight: rgba(100, 100, 100, .25);

$color-transparent: rgba(255, 255, 255, 0);

$color-border: #fff;
