@import 'colors';
@import 'fonts';
@import 'breakpoints';

body {
  background-color: $color-bg-primary;
  color: $color-primary;
  font-family: $fonts-primary;
  padding-top: 70px;
}

footer {
  background-color: $color-bg-secondary;
  margin-top: 18px;
}
